<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

{% include "navbar.html" %}

<div class="container">

<div class="form-box">

<h1>Add New Student</h1>

<p class="page-description">
    Fill in the details below to register a new student in the system.
</p>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert {{ category }}">
{{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<form method="POST">

<input
type="text"
name="name"
placeholder="Student Name"
required>

<input
type="email"
name="email"
placeholder="Email"
required>

<input
type="text"
name="course"
placeholder="Course"
required>

<input
type="number"
name="semester"
placeholder="Semester"
required>

<button type="submit">
Save Student
</button>

</form>

<p>

<a href="{{ url_for('students') }}">
← Return to Students Records
</a>

</p>

</div>

</div>

</body>
</html>